<ng-container *ngIf="errors && errors['required']" matTooltip="field required"></ng-container>
<ng-container *ngIf="errors && errors.length && forbiddenNameError()">Already exists</ng-container>
<ng-container *ngIf="errors && errors['email']">Please enter a valid email</ng-container>
<ng-container *ngIf="errors && errors['minlength']">must be at least 3 characters</ng-container>
<ng-container *ngIf="errors && errors['maxlength']">must be at most 30 characters</ng-container>
<ng-container *ngIf="errors && errors.length && notSameError()">passwords are not matching</ng-container>
