<div id="register-form">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3 class="first">Register</h3>
    <div class="p-grid ui-fluid register-form-group">
        <div class="p-col-12 p-md-4">
            <!-- username -->
            <div class="ui-inputgroup p-col-12 p-md-4">
                <span class=" ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input name="name" required minlength="4" required maxlength="30" type="text"
                    pInputText placeholder="Username" formControlName="username" mat-raised-button #tooltip="matTooltip"
                    matTooltip="Info about the action"
                    matTooltipPosition="right"
                    aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
            </div>
          
            <!-- email -->
            <div class="p-col-12 p-md-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">@</span>
                    <input type="text" pInputText placeholder="Email" formControlName="email">
                </div>
            </div>

            <!-- birthdate -->
            <div class="p-col-12 p-md-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                    <input type="date" pInputText placeholder="birthdate" formControlName="birthdate">
                </div>
            </div>
              <!-- password -->
              <div class="p-col-12 p-md-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input type="password" required minlength="7" required maxlength="30"
                         pInputText placeholder="Password" formControlName="password">
                </div>
            </div>

              <!-- password confirmation -->
              <div class="p-col-12 p-md-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input type="password"
                         pInputText placeholder="Password confirmation" formControlName="passwordBis">
                    </div>
                </div>
            </div>
        </div>
        <button pButton label="tooltip" (click)="tooltip.toggle()"></button>
        <button pButton type="submit" label="Create account"></button>
    </form>
    </div>