<h3 class="first">Severities</h3>
<button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
<button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
<button type="button" pButton (click)="showCustom()" label="Custom"></button>


<h3>Multiple</h3>
<button type="button" pButton (click)="showMultiple()" label="Multiple"></button>

<h3>Clear</h3>
<button type="button" pButton (click)="clear()" icon="pi pi-times" label="Remove All"></button>

<h3>Positions</h3>
<button type="button" pButton (click)="showTopLeft()" label="Top Left" class="ui-button-success"></button>
<button type="button" pButton (click)="showTopCenter()" label="Top Center" class="ui-button-info"></button>

<h3>Template</h3>
<button type="button" pButton (click)="showConfirm()" label="Confirm" class="ui-button-warning"></button>