<p-carousel [value]="userList" [numVisible]="1" [numScroll]="1" [circular]="false">
    <ng-template let-user pTemplate="item">
        <p-card [style]="{width: '360px'}" styleClass="ui-card-shadow">
            <p-header>
                <span style="display: flex; flex-direction: row;"><i class="pi pi-user" style="display: flex; align-items: center; padding-right: 10px;"></i><h1>{{user.username}}</h1></span>
               
            </p-header>
            <div class="infos">
                    <h2>age : {{getAge(user.birthDate)}} yo</h2>
                    <h2>email : {{user.email}}</h2>
            
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
                deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
            </div>
        </p-card>
    </ng-template>
</p-carousel>