<p-toast position="top-center" key="tc"></p-toast>

<p-menubar [model]="items">
    <div>
        <button pButton label="accueil" style="margin-left:.25em" (click)="utilService.navigate('/')"></button>
        <button  *ngIf="(_user$ | async)?.role === 'guest'" pButton label="Register" style="margin-left:.25em"(click)="utilService.navigate('/register')"></button>
        <button pButton label="Users" style="margin-left:.25em" (click)="utilService.navigate('/users')"></button>
        <button pButton label="Tournaments" style="margin-left:.25em" (click)="utilService.navigate('/tournaments')"></button>
        
    </div>
    <div>
        <button pButton *ngIf="(_user$ | async)?.username" [label]="(_user$ | async)?.username" style="margin-left:.25em"></button>
        <button *ngIf="(_user$ | async)?.role === 'guest'" pButton  label="Login" style="margin-left:.25em" (click)="utilService.navigate('/login')"></button>
        <button *ngIf="(_user$ | async)?.role !== 'guest'" pButton label="Logout" class="pi pi-exit" style="margin-left:.25em" (click)="logout()"></button>
    </div>
</p-menubar>