// toast classes
.custom-toast .ui-toast-message {
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

.custom-toast .ui-toast-message div {
    color: #ffffff;
}

.custom-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
    color: #ffffff;
}

.page-container{
    position: relative;
    display: flex;
    padding: 1.5%;
    margin: 80px 15px 17px 15px;
    border: none;
    flex-direction: column;
    min-width: 400px;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
}