// toast classes
.custom-toast .ui-toast-message {
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

.custom-toast .ui-toast-message div {
    color: #ffffff;
}

.custom-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
    color: #ffffff;
}