name: CI
# This workflow is triggered on pushes to the repository.
on: [push]

jobs:
  build-app:
    name: Build App and Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build App
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: |
          cd app
          npm ci
          npm run build
      - name: Authenticate into Google Cloud Platform
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          service_account_email: ${{ secrets.GCLOUD_EMAIL }}
          service_account_key: ${{ secrets.GCLOUD_AUTH }}

      - name: Configure Docker to use Google Cloud Platform
        run: "gcloud auth configure-docker --quiet"

      - name: Deploy on App Engine
        run: |
          gcloud app deploy ${{ secrets.GCLOUD_APP_NAME }} --project ${{ secrets.GCLOUD_PROJECT }}
  build-back:
    name: Build back
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build Back
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: |
          cd back
          npm ci
          npm run compile
